<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изучение Vue</title>
</head>

<body>

    <div class="" id="app">
        <div class="">
            <h1>{{title}}</h1>
            <div>
                <input type="text" 
                v-bind:placeholder="placeholderText" 
                v-bind:value="inputValue"
                v-on:input="inputChangeHandler"
                v-on:keypress.enter="addNewNote"
                />
            </div>
            <!-- <h2>inputValue: {{inputValue}}</h2> -->
            <button v-on:click="addNewNote">Добавить</button>
            <hr />
            <ul v-if="notes.length !==0" >
                <li v-for="(note, index) in notes">
                    {{ toUpperCaseWord(note) }}
                    <button v-on:click="deleteNote(index, $event)">удалить</button>
                </li>
            </ul>
            <div v-else>Заметок пока нет</div>
        </div>
    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>

</html>