@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px;
    margin: 100px auto;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 50px;
}

.card {
    border: 1px solid green;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: 10px;
}

.primary {
    color: white;
    background-color: rgb(76, 142, 76);
}


